name: Integration Tests

on:
  workflow_call:

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"

      - name: Run Integration Tests
        run: dotnet test Tests.Integration/Tests.Integration.csproj
        env:
          CloudName: ${{ secrets.CLOUDNAME }}
          ApiKey: ${{ secrets.APIKEY }}
          ApiSecret: ${{ secrets.APISECRET }}
